* {
  box-sizing: border-box;
  margin: 0;
}

button,
.logo {
  cursor: pointer;
}

.topnav {
  height: auto;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.rxiLogo {
  height: 30px;
}

.topnavRxiLogo {
  margin: 0 30px 0 20px;
}

.topnav_links {
  height: 30px;
  margin-right: 50px;
  overflow: hidden;
}

.topnav_links a {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #d3d3d3;
  font-weight: bolder;
  font-size: 17px;
  font-family: arial;
  padding: 3px 0;
  margin: 0 10px;
  border: none;
}

.topnav_links a:hover {
  color: gold;
  border-bottom: 2px solid gold;
}

i.topnav_menu {
  position: absolute;
  top: 25px;
  right: 25px;
  color: white;
  display: none;
}

.text-section h1 span {
  font-family: "open sans";
  color: gold;
}

/* main-section */

.main-topics {
  height: 500px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.main-topics:hover {
  box-shadow: 0 15px 20px -6px gray;
}

.main-topic-heading {
  font-size: 100px;
  padding-top: 120px;
}

.main-topic-subheading {
  margin-bottom: 50px;
}

.topic1 {
  background-color: rgb(251, 251, 195);
  color: rgb(99, 112, 26);
}

.topic2 {
  background-color: rgb(185, 241, 255);
  color: rgb(19, 80, 85);
}

.topic3 {
  background-color: rgb(222, 197, 255);
  color: rgb(72, 62, 109);
}

.main-topic-btn {
  padding: 15px 100px;
  margin-top: 100px;
  text-decoration: none;
  background-color: orange;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
}

/*main-section end */

footer {
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  padding: 100px;
  margin: 0;
}

.footerLeft {
  float: left;
}

.footerLeft_header {
  font-size: 22px;
  font-family: Helvetica;
  padding: 30px 5px;
}

.footerLeft i {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.footerLeft i:hover {
  color: gold;
}

.footerRight {
  height: auto;
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  float: right;
  border-left: 1px solid #4f4f4f;
}

.footerRight_column {
  text-align: left;
}

.footerRight_columnHeader {
  padding-bottom: 30px;
}

.footerRight_columnList {
  padding-left: 0;
}

.footerRight_columnList li {
  list-style-type: none;
  padding: 4px 0;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.footerRight_columnList li a {
  text-decoration: none;
  color: white;
}

.footerRight_columnList li a:hover {
  border-bottom: 1px solid gold;
  color: gold;
}

.footerBottom {
  content: "";
  clear: both;
  display: table;
  margin: auto;
  padding: 120px 0 15px 0;
  text-align: center;
}

.footerBottom_copyright {
  text-align: center;
  color: #aaa;
}

/********************* Feeds-section *********************/

hr {
  background-color: #aaa;
  border: none;
}

.feeds-container {
  width: 85%;
  margin: auto;
}

.top-feed-header {
  padding: 20px 0;
  cursor: pointer;
}

.top-feed-img {
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
  cursor: pointer;
}

.main-feeds-container {
  display: flex;
  justify-content: space-between;
}

.latest-feeds-header {
  color: #d3d3d3;
  font-family: arial;
  font-weight: bolder;
  padding: 30px 0;
}

.latest-feed-container {
  height: 200px;
  width: 800px;
  margin-bottom: 30px;
  cursor: pointer;
}

.latest-feed-img {
  height: 200px;
  width: 320px;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
}

.latest-feed-txt {
  padding: 0 20px;
}

.latest-feed-description {
  line-height: 25px;
  color: #666;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.latest-feed-container:hover .latest-feed-header {
  text-decoration: underline;
}

.top-feed-header:hover {
  text-decoration: underline;
}

.latest-feed-date {
  margin: 10px 0;
  color: rgb(233, 196, 95);
}

.ad-container {
  height: 1000px;
  width: 25%;
  background-color: #f1f1f1;
  color: #aaa;
  text-align: center;
  padding-top: 50%;
  font-size: 25px;
}

/*************** Techmellon ***************/

.techmellon-nav-bar {
  height: 60px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.techmellon-projects-btn {
  height: 60px;
  width: 160px;
  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
  background-color: transparent;
  color: #4f4f4f;
  border: none;
}

.project-links {
  display: none;
  height: auto;
  width: 100%;
  padding: 50px 0;
  background-color: #333;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.35);
}

.techmellon-projects-btn:hover + .project-links {
  display: block;
}

.project-links:hover {
  display: block;
}

table tr td {
  padding: 10px 0;
}

.project-link {
  text-decoration: none;
  color: white;
  font-family: "open sans";
  font-size: 16px;
  padding: 0 80px;
}

.project-link:hover {
  text-decoration: underline;
  color: gold;
}

.project-container {
  height: auto;
  width: 80%;
  margin: auto;
}

.project-main-container {
  height: auto;
  width: 100%;
  padding: 100px 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.project-info-container {
  width: 40%;
}

.project-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 40px;
  color: #4f4f4f;
}

.project-description {
  line-height: 30px;
  font-family: poppins;
  color: #828282;
  margin: 15px 0;
}

.project-btn {
  padding: 10px 100px;
  margin: 30px 0;
  display: inline-block;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0px 10px 25px -10px rgba(255, 217, 0, 0.623);
  text-decoration: none;
  color: white;
  background-color: gold;
  text-align: center;
}

.project-video {
  height: 100%;
  width: 55%;
  outline: none;
  z-index: 1;
}

.project-source-code {
  height: auto;
  width: 100%;
  margin: 80px 0;
  border: none;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-radius: 10px;
}

.project-source-code-header {
  color: #4f4f4f;
  padding: 15px;
  background-color: gold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-source-code-list {
  padding-left: 0;
}

.project-source-code-list li {
  list-style: none;
  border-bottom: 0.1px solid #f1f1f1;
}

.project-source-code-list li a {
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 30px;
}

.project-source-code-list li a:hover {
  background-color: #f1f1f1;
}

/************************* Media Queries *****************************/

@media only screen and (max-width: 1025px) {
  .rxiLogo {
    height: 25px;
  }

  .topnav_links a {
    font-size: 15px;
  }

  .footerLeft_header {
    font-size: 20px;
  }

  .footerRight_column:last-child {
    display: none;
  }

  .footerLeft i {
    font-size: 20px;
  }
}

@media only screen and (max-width: 769px) {
  i.topnav_menu {
    display: block;
  }

  footer {
    padding: 50px;
    text-align: center;
  }

  .footerLeft {
    width: 100%;
  }

  .footerRight {
    padding-top: 80px;
    border: none;
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  footer {
    padding: 20px;
  }

  .footerRight_column3 {
    display: none;
  }
}
